.grid:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.grid:after {
  clear: both;
}

.grid {
  *zoom: 1;
}

._25 {
  max-width: 25%;
  display: inline-block;
  float: left;
}

._33 {
  max-width: 33%;
  display: inline-block;
  float: left;
}

._50 {
  max-width: 50%;
  display: inline-block;
  float: left;
}

._75 {
  max-width: 75%;
  display: inline-block;
  float: left;
}


._25.p1 {max-width: calc(25% - .5rem);}
._25.p2 {max-width: calc(25% - 1.6rem);}
._25.p3 {max-width: calc(25% - 2rem);}
._25.p4 {max-width: calc(25% - 3.6rem);}
._25.p5 {max-width: calc(25% - 6rem);}
._25.p6 {max-width: calc(25% - 12rem);}
._25.p7 {max-width: calc(25% - 24rem);}


._33.p1 {max-width: calc(33% - .5rem);}
._33.p2 {max-width: calc(33% - 1.6rem);}
._33.p3 {max-width: calc(33% - 2rem);}
._33.p4 {max-width: calc(33% - 3.6rem);}
._33.p5 {max-width: calc(33% - 6rem);}
._33.p6 {max-width: calc(33% - 12rem);}
._33.p7 {max-width: calc(33% - 24rem);}


._50.p1 {max-width: calc(50% - .5rem);}
._50.p2 {max-width: calc(50% - 1.6rem);}
._50.p3 {max-width: calc(50% - 2rem);}
._50.p4 {max-width: calc(50% - 3.6rem);}
._50.p5 {max-width: calc(50% - 6rem);}
._50.p6 {max-width: calc(50% - 12rem);}
._50.p7 {max-width: calc(50% - 24rem);}


._75.p1 {max-width: calc(75% - .5rem);}
._75.p2 {max-width: calc(75% - 1.6rem);}
._75.p3 {max-width: calc(75% - 2rem);}
._75.p4 {max-width: calc(75% - 3.6rem);}
._75.p5 {max-width: calc(75% - 6rem);}
._75.p6 {max-width: calc(75% - 12rem);}
._75.p7 {max-width: calc(75% - 24rem);}